doctype html
//
  사용 xxxxxx
head
  title Dashboard | Klorofil - Free Bootstrap Dashboard Template
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  // VENDOR CSS
  link(rel='stylesheet' href='assets/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet' href='assets/vendor/linearicons/style.css')
  link(rel='stylesheet' href='assets/vendor/chartist/css/chartist-custom.css')
  // MAIN CSS
  link(rel='stylesheet' href='assets/css/main.css')
  // FOR DEMO PURPOSES ONLY. You should remove this in your project
  link(rel='stylesheet' href='assets/css/demo.css')
  // GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet')
  // ICONS
  link(rel='apple-touch-icon' sizes='76x76' href='assets/img/apple-icon.png')
  link(rel='icon' type='image/png' sizes='96x96' href='assets/img/favicon.png')
// WRAPPER
#wrapper
  // NAVBAR
  nav.navbar.navbar-default.navbar-fixed-top
    .brand
      a(href='index.html')
        img.img-responsive.logo(src='assets/img/logo-dark.png' alt='Klorofil Logo')
    .container-fluid
      .navbar-btn
        button.btn-toggle-fullwidth(type='button')
          i.lnr.lnr-arrow-left-circle
      #navbar-menu
        ul.nav.navbar-nav.navbar-right
          if user_id 
            li.dropdown
              a.dropdown-toggle.icon-menu(href='#' data-toggle='dropdown')
                i.lnr.lnr-alarm
                span.badge.bg-danger 5
              ul.dropdown-menu.notifications
                li
                  a.notification-item(href='#')
                    span.dot.bg-warning
                    | System space is almost full
                li
                  a.notification-item(href='#')
                    span.dot.bg-danger
                    | You have 9 unfinished tasks
                li
                  a.notification-item(href='#')
                    span.dot.bg-success
                    | Monthly report is available
                li
                  a.notification-item(href='#')
                    span.dot.bg-warning
                    | Weekly meeting in 1 hour
                li
                  a.notification-item(href='#')
                    span.dot.bg-success
                    | Your request has been approved
                li
                  a.more(href='#') See all notifications
            li.dropdown
              a.dropdown-toggle(href='#' data-toggle='dropdown')
                img.img-circle(src='assets/img/user.png' alt='Avatar')
                span #{user_id}
                i.icon-submenu.lnr.lnr-chevron-down
              ul.dropdown-menu
                li
                  a(href='#')
                    i.lnr.lnr-user
                    span My Profile
                li
                  a(href='#')
                    i.lnr.lnr-envelope
                    span Message
                li
                  a(href='/auth/logout')
                    i.lnr.lnr-exit
                    span Logout
          else
            li.dropdown
              a.dropdown-toggle(href='#' data-toggle='dropdown')
                //- img.img-circle(src='assets/img/user.png' alt='Avatar')
                span 로그인을 해주세요
                i.icon-submenu.lnr.lnr-chevron-down
              ul.dropdown-menu
                li
                  a(href='/login')
                    i.lnr.lnr-user
                    span 로그인
                li
                  a(href='#')
                    i.lnr.lnr-envelope
                    span 회원가입
          //
            <li>
            <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
            </li>
  // END NAVBAR
  // LEFT SIDEBAR
  #sidebar-nav.sidebar
    .sidebar-scroll
      nav
        ul.nav
          li
            a(href='index.html')
              i.lnr.lnr-home
              span Dashboard
          li
            a(href='enrollment.html')
              i.lnr.lnr-code
              span &#xD68C;&#xC758;&#xB4F1;&#xB85D;
          li
            a(href='meeting-list.html')
              i.lnr.lnr-cog
              span &#xD68C;&#xC758;&#xBAA9;&#xB85D;
          li
            a(href='meeting-log.html')
              i.lnr.lnr-cog
              span &#xD68C;&#xC758;&#xB85D;
          li
            a.active(href='#subPages' data-toggle='collapse')
              i.lnr.lnr-chart-bars
              span &#xD68C;&#xC758;&#xBD84;&#xC11D;
              i.icon-submenu.lnr.lnr-chevron-left
            #subPages.collapse.in
              ul.nav
                li
                  a.active(href='charts.html') &#xC804;&#xCCB4;&#xBD84;&#xC11D;
                li
                  a.active(href='charts.html') &#xAC1C;&#xC778;&#xBD84;&#xC11D;
          li
            a.active(href='#subPages' data-toggle='collapse')
              i.lnr.lnr-file-empty
              span Pages
              i.icon-submenu.lnr.lnr-chevron-left
            #subPages.collapse.in
              ul.nav
                li
                  a.active(href='page-profile.html') Profile
                li
                  a(href='/login') Login
                li
                  a(href='page-lockscreen.html') Lockscreen
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        // OVERVIEW
        .panel.panel-headline
          .panel-heading
            h3.panel-title Weekly Overview
            p.panel-subtitle Period: Oct 14, 2016 - Oct 21, 2016
          .panel-body
            .row
              .col-md-3
                .metric
                  span.icon
                    i.fa.fa-download
                  p
                    span.number 1,252
                    span.title Downloads
              .col-md-3
                .metric
                  span.icon
                    i.fa.fa-shopping-bag
                  p
                    span.number 203
                    span.title Sales
              .col-md-3
                .metric
                  span.icon
                    i.fa.fa-eye
                  p
                    span.number 274,678
                    span.title Visits
              .col-md-3
                .metric
                  span.icon
                    i.fa.fa-bar-chart
                  p
                    span.number 35%
                    span.title Conversions
            .row
              .col-md-9
                #headline-chart.ct-chart
              .col-md-3
                .weekly-summary.text-right
                  span.number 2,315
                  span.percentage
                    i.fa.fa-caret-up.text-success
                    |  12%
                  span.info-label Total Sales
                .weekly-summary.text-right
                  span.number $5,758
                  span.percentage
                    i.fa.fa-caret-up.text-success
                    |  23%
                  span.info-label Monthly Income
                .weekly-summary.text-right
                  span.number $65,938
                  span.percentage
                    i.fa.fa-caret-down.text-danger
                    |  8%
                  span.info-label Total Income
        // END OVERVIEW
        .row
          .col-md-6
            // RECENT PURCHASES
            .panel
              .panel-heading
                h3.panel-title Recent Purchases
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body.no-padding
                table.table.table-striped
                  thead
                    tr
                      th Order No.
                      th Name
                      th Amount
                      th Date &amp; Time
                      th Status
                  tbody
                    tr
                      td
                        a(href='#') 763648
                      td Steve
                      td $122
                      td Oct 21, 2016
                      td
                        span.label.label-success COMPLETED
                    tr
                      td
                        a(href='#') 763649
                      td Amber
                      td $62
                      td Oct 21, 2016
                      td
                        span.label.label-warning PENDING
                    tr
                      td
                        a(href='#') 763650
                      td Michael
                      td $34
                      td Oct 18, 2016
                      td
                        span.label.label-danger FAILED
                    tr
                      td
                        a(href='#') 763651
                      td Roger
                      td $186
                      td Oct 17, 2016
                      td
                        span.label.label-success SUCCESS
                    tr
                      td
                        a(href='#') 763652
                      td Smith
                      td $362
                      td Oct 16, 2016
                      td
                        span.label.label-success SUCCESS
              .panel-footer
                .row
                  .col-md-6
                    span.panel-note
                      i.fa.fa-clock-o
                      |  Last 24 hours
                  .col-md-6.text-right
                    a.btn.btn-primary(href='#') View All Purchases
            // END RECENT PURCHASES
          .col-md-6
            // MULTI CHARTS
            .panel
              .panel-heading
                h3.panel-title Projection vs. Realization
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body
                #visits-trends-chart.ct-chart
            // END MULTI CHARTS
        .row
          .col-md-7
            // TODO LIST
            .panel
              .panel-heading
                h3.panel-title To-Do List
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body
                ul.list-unstyled.todo-list
                  li
                    label.control-inline.fancy-checkbox
                      input(type='checkbox')
                      span
                    p
                      span.title Restart Server
                      span.short-description Dynamically integrate client-centric technologies without cooperative resources.
                      span.date Oct 9, 2016
                    .controls
                      a(href='#')
                        i.icon-software.icon-software-pencil
                      a(href='#')
                        i.icon-arrows.icon-arrows-circle-remove
                  li
                    label.control-inline.fancy-checkbox
                      input(type='checkbox')
                      span
                    p
                      span.title Retest Upload Scenario
                      span.short-description
                        | Compellingly implement clicks-and-mortar relationships without highly efficient metrics.
                      span.date Oct 23, 2016
                    .controls
                      a(href='#')
                        i.icon-software.icon-software-pencil
                      a(href='#')
                        i.icon-arrows.icon-arrows-circle-remove
                  li
                    label.control-inline.fancy-checkbox
                      input(type='checkbox')
                      span
                    p
                      strong Functional Spec Meeting
                      span.short-description
                        | Monotonectally formulate client-focused core competencies after parallel web-readiness.
                      span.date Oct 11, 2016
                    .controls
                      a(href='#')
                        i.icon-software.icon-software-pencil
                      a(href='#')
                        i.icon-arrows.icon-arrows-circle-remove
            // END TODO LIST
          .col-md-5
            // TIMELINE
            .panel.panel-scrolling
              .panel-heading
                h3.panel-title Recent User Activity
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body
                ul.list-unstyled.activity-list
                  li
                    img.img-circle.pull-left.avatar(src='assets/img/user1.png' alt='Avatar')
                    p
                      a(href='#') Michael
                      |  has achieved 80% of his completed tasks 
                      span.timestamp 20 minutes ago
                  li
                    img.img-circle.pull-left.avatar(src='assets/img/user2.png' alt='Avatar')
                    p
                      a(href='#') Daniel
                      |  has been added as a team member to project 
                      a(href='#') System Update
                      span.timestamp Yesterday
                  li
                    img.img-circle.pull-left.avatar(src='assets/img/user3.png' alt='Avatar')
                    p
                      a(href='#') Martha
                      |  created a new heatmap view 
                      a(href='#') Landing Page
                      span.timestamp 2 days ago
                  li
                    img.img-circle.pull-left.avatar(src='assets/img/user4.png' alt='Avatar')
                    p
                      a(href='#') Jane
                      |  has completed all of the tasks 
                      span.timestamp 2 days ago
                  li
                    img.img-circle.pull-left.avatar(src='assets/img/user5.png' alt='Avatar')
                    p
                      a(href='#') Jason
                      |  started a discussion about 
                      a(href='#') Weekly Meeting
                      span.timestamp 3 days ago
                button.btn.btn-primary.btn-bottom.center-block(type='button') Load More
            // END TIMELINE
        .row
          .col-md-4
            // TASKS
            .panel
              .panel-heading
                h3.panel-title My Tasks
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body
                ul.list-unstyled.task-list
                  li
                    p
                      | Updating Users Settings 
                      span.label-percent 23%
                    .progress.progress-xs
                      .progress-bar.progress-bar-danger(role='progressbar' aria-valuenow='23' aria-valuemin='0' aria-valuemax='100' style='width:23%')
                        span.sr-only 23% Complete
                  li
                    p
                      | Load &amp; Stress Test 
                      span.label-percent 80%
                    .progress.progress-xs
                      .progress-bar.progress-bar-success(role='progressbar' aria-valuenow='80' aria-valuemin='0' aria-valuemax='100' style='width: 80%')
                        span.sr-only 80% Complete
                  li
                    p
                      | Data Duplication Check 
                      span.label-percent 100%
                    .progress.progress-xs
                      .progress-bar.progress-bar-success(role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width: 100%')
                        span.sr-only Success
                  li
                    p
                      | Server Check 
                      span.label-percent 45%
                    .progress.progress-xs
                      .progress-bar.progress-bar-warning(role='progressbar' aria-valuenow='45' aria-valuemin='0' aria-valuemax='100' style='width: 45%')
                        span.sr-only 45% Complete
                  li
                    p
                      | Mobile App Development 
                      span.label-percent 10%
                    .progress.progress-xs
                      .progress-bar.progress-bar-danger(role='progressbar' aria-valuenow='10' aria-valuemin='0' aria-valuemax='100' style='width: 10%')
                        span.sr-only 10% Complete
            // END TASKS
          .col-md-4
            // VISIT CHART
            .panel
              .panel-heading
                h3.panel-title Website Visits
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body
                #visits-chart.ct-chart
            // END VISIT CHART
          .col-md-4
            // REALTIME CHART
            .panel
              .panel-heading
                h3.panel-title System Load
                .right
                  button.btn-toggle-collapse(type='button')
                    i.lnr.lnr-chevron-up
                  button.btn-remove(type='button')
                    i.lnr.lnr-cross
              .panel-body
                #system-load.easy-pie-chart(data-percent='70')
                  span.percent 70
                h4 CPU Load
                ul.list-unstyled.list-justify
                  li
                    | High: 
                    span 95%
                  li
                    | Average: 
                    span 87%
                  li
                    | Low: 
                    span 20%
                  li
                    | Threads: 
                    span 996
                  li
                    | Processes: 
                    span 259
            // END REALTIME CHART
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright
        | Shared by 
        i.fa.fa-love
        a(href='https://bootstrapthemes.co') BootstrapThemes
// END WRAPPER
// Javascript
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
script(src='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
script(src='assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js')
script(src='assets/vendor/chartist/js/chartist.min.js')
script(src='assets/scripts/klorofil-common.js')
script.
  $(function() {
  var data, options;
  // headline charts
  data = {
  labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
  series: [
  [23, 29, 24, 40, 25, 24, 35],
  [14, 25, 18, 34, 29, 38, 44],
  ]
  };
  options = {
  height: 300,
  showArea: true,
  showLine: false,
  showPoint: false,
  fullWidth: true,
  axisX: {
  showGrid: false
  },
  lineSmooth: false,
  };
  new Chartist.Line('#headline-chart', data, options);
  // visits trend charts
  data = {
  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
  series: [{
  name: 'series-real',
  data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
  }, {
  name: 'series-projection',
  data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
  }]
  };
  options = {
  fullWidth: true,
  lineSmooth: false,
  height: "270px",
  low: 0,
  high: 'auto',
  series: {
  'series-projection': {
  showArea: true,
  showPoint: false,
  showLine: false
  },
  },
  axisX: {
  showGrid: false,
  },
  axisY: {
  showGrid: false,
  onlyInteger: true,
  offset: 0,
  },
  chartPadding: {
  left: 20,
  right: 20
  }
  };
  new Chartist.Line('#visits-trends-chart', data, options);
  // visits chart
  data = {
  labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
  series: [
  [6384, 6342, 5437, 2764, 3958, 5068, 7654]
  ]
  };
  options = {
  height: 300,
  axisX: {
  showGrid: false
  },
  };
  new Chartist.Bar('#visits-chart', data, options);
  // real-time pie chart
  var sysLoad = $('#system-load').easyPieChart({
  size: 130,
  barColor: function(percent) {
  return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
  },
  trackColor: 'rgba(245, 245, 245, 0.8)',
  scaleColor: false,
  lineWidth: 5,
  lineCap: "square",
  animate: 800
  });
  var updateInterval = 3000; // in milliseconds
  setInterval(function() {
  var randomVal;
  randomVal = getRandomInt(0, 100);
  sysLoad.data('easyPieChart').update(randomVal);
  sysLoad.find('.percent').text(randomVal);
  }, updateInterval);
  function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min;
  }
  });
