#sidebar-nav.sidebar
    .sidebar-scroll
        nav
            ul.nav
                li
                    a(href='/')
                        i.lnr.lnr-home
                        span Dashboard
                li
                    a(href='/enrollment')
                        i.lnr.lnr-code
                        span &#xD68C;&#xC758;&#xB4F1;&#xB85D;
                li
                    a(href='/meeting-list')
                        i.lnr.lnr-cog
                        span &#xD68C;&#xC758;&#xBAA9;&#xB85D;

                //li
                //    a(href='/sentimental_total')
                //        i.lnr.lnr-cog
                //        span &#xD68C;&#xC758;&#xB85D; 

                li
                    a.active(href='#subPages', data-toggle='collapse')
                      i.lnr.lnr-file-empty
                      span Pages
                      i.icon-submenu.lnr.lnr-chevron-left
                    #subPages.collapse.in
                      ul.nav
                        li
                          a.active(href='page-profile.html') Profile
                        li
                          a(href='page-login.html') Login
                        li
                          a(href='page-lockscreen.html') Lockscreen
