#sidebar-nav.sidebar
    .sidebar-scroll
        nav
            ul.nav
                li
                    a(href='/')
                        i.lnr.lnr-home
                        span &#xD648;
                li
                    a(href='/enrollment')
                        i.lnr.lnr-code
                        span &#xD68C;&#xC758; &#xB4F1;&#xB85D;
                li
                    a(href='/meeting-list')
                        i.lnr.lnr-dice
                        span &#xD68C;&#xC758; &#xBAA9;&#xB85D;

                //li
                //    a(href='/sentimental_total')
                //        i.lnr.lnr-cog
                //        span &#xD68C;&#xC758;&#xB85D; 

                li
                     a(href='/page-profile')
                        i.lnr.lnr-file-empty
                        span &#xD504;&#xB85C;&#xD544;
