doctype html
head
  title  FIND-PW | &#xC18C;&#xB2F4; - &#xC18C;&#xB9AC;&#xB97C; &#xB2F4;&#xB2E4;.
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  // VENDOR CSS
  link(rel='stylesheet', href='assets/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/vendor/linearicons/style.css')
  // MAIN CSS
  link(rel='stylesheet', href='assets/css/main.css')
  // GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel='stylesheet')
  // ICONS
  link(rel='apple-touch-icon', sizes='76x76', href='assets/img/apple-icon.png')
  link(rel='icon', type='image/png', sizes='96x96', href='assets/img/favicon.png')
// WRAPPER
#wrapper
  .vertical-align-wrap
    .vertical-align-middle
      .auth-box2
        .left
          .content
            .header
              .logo.text-center
                img(src='assets/img/logo-dark.png', alt='Klorofil Logo')
              p
              p.lead Find your PassWord
            form.form-auth-small(action='')
              .form-group
                label.control-label.sr-only Id
                input#signin-email.form-control(type='id', value='', placeholder='Enter your ID')
              .form-group
                label.control-label.sr-only Email
                input#signin-password.form-control(type='email', value='', placeholder='Enter your Email (ex. sodam@sodam.com)')
              button.btn.btn-primary.btn-lg.btn-block(type='submit') Find Password
              .bottom
                p
                span.navbar-btn-left
                  a(href='page-login.html') Go to Login
                span.navbar-btn-right
                  i.fa.fa-lock
                  a(href='login-findid.html') Forgot ID?
// END WRAPPER
