doctype html
head
  title Panels | Klorofil - Free Bootstrap Dashboard Template
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  // VENDOR CSS
  link(rel='stylesheet', href='assets/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/vendor/linearicons/style.css')
  // MAIN CSS
  link(rel='stylesheet', href='assets/css/main.css')
  // FOR DEMO PURPOSES ONLY. You should remove this in your project
  link(rel='stylesheet', href='assets/css/demo.css')
  // GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel='stylesheet')
  // ICONS
  link(rel='apple-touch-icon', sizes='76x76', href='assets/img/apple-icon.png')
  link(rel='icon', type='image/png', sizes='96x96', href='assets/img/favicon.png')
// WRAPPER
#wrapper
  // NAVBAR
  nav.navbar.navbar-default.navbar-fixed-top
    .brand
      a(href='/')
        img.img-responsive.logo(src='assets/img/logo-dark.png', alt='Klorofil Logo')
    include gnb
  // END NAVBAR
  // LEFT SIDEBAR
  include lnb
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        h3.page-title
        .row
          .col-md-11
            // PANEL HEADLINE
            .panel.panel-headline
              .panel-heading
                h3.panel-title &#xD68C;&#xC758; &#xBAA9;&#xB85D;
                p.panel-subtitle &#xB4F1;&#xB85D;&#xD55C; &#xD68C;&#xC758; &#xBAA9;&#xB85D;&#xC744; &#xC870;&#xD68C;&#xD560; &#xC218; &#xC788;&#xC2B5;&#xB2C8;&#xB2E4;.
            // END PANEL HEADLINE
        .row
          .col-md-11
            .panel
              div
                //
                  <div class="card-header">
                  <i class="fas fa-table mr-1">회의 리스트</i>
                  </div>
                .card-body
                  .table-responsive
                    table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                      thead
                        tr
                          th &#xC81C;&#xBAA9;
                          th &#xB4F1;&#xB85D;&#xC790;
                          th &#xD0DC;&#xADF8;
                          th &#xC2DC;&#xAC04;
                          th &#xB0A0;&#xC9DC;
                      tfoot
                        tr
                          th Title
                          th Name
                          th tag
                          th time
                          th date
                      tbody
                        tr
                          td Tiger Nixon
                          td System Architect
                          td Edinburgh
                          td 61
                          td 2011/04/25
                        tr
                          td Lael Greer
                          td Systems Administrator
                          td London
                          td 21
                          td 2009/02/27
                        tr
                          td Jonas Alexander
                          td Developer
                          td San Francisco
                          td 30
                          td 2010/07/14
                        tr
                          td Shad Decker
                          td Regional Director
                          td Edinburgh
                          td 51
                          td 2008/11/13
                        tr
                          td Michael Bruce
                          td Javascript Developer
                          td Singapore
                          td 29
                          td 2011/06/27
                        tr
                          td Donna Snider
                          td Customer Support
                          td New York
                          td 27
                          td 2011/01/25
  // END MAIN CONTENT
// END MAIN
.clearfix
footer
  .container-fluid
    p.copyright
      | Shared by
      i.fa.fa-love
      a(href='https://bootstrapthemes.co') BootstrapThemes
// END WRAPPER
// Javascript
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
script(src='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
script(src='assets/scripts/klorofil-common.js')
// datatable
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
script(src='js/scripts.js')
script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
script(src='assets/demo/datatables-demo.js')
| &#x9; --&gt;
