doctype html
head
  title Lockscreen | Klorofil - Free Bootstrap Dashboard Template
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  // VENDOR CSS
  link(rel='stylesheet', href='assets/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/vendor/linearicons/style.css')
  // MAIN CSS
  link(rel='stylesheet', href='assets/css/main.css')
  // FOR DEMO PURPOSES ONLY. You should remove this in your project
  link(rel='stylesheet', href='assets/css/demo.css')
  // GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel='stylesheet')
  // ICONS
  link(rel='apple-touch-icon', sizes='76x76', href='assets/img/apple-icon.png')
  link(rel='icon' type='image/png' sizes='96x96' href='assets/img/sodam.png')
// WRAPPER
#wrapper
  .vertical-align-wrap
    .vertical-align-middle
      .auth-box.lockscreen.clearfix
        .content
          h1.sr-only &#xC18C;&#xB2F4; - &#xD68C;&#xC6D0;&#xD0C8;&#xD1F4;
          .logo.text-center
            img(src='assets/img/logo.png', alt='Klorofil Logo')
          .user.text-center
            img.img-circle(src='assets/img/user_prof1.png', alt='Avatar')
            h2.name &#xD68C;&#xC6D0;&#xC774;&#xB984;
          form(action='page-profile.html')
            .input-group
              input.form-control(type='password', placeholder='탈퇴를 원하시면 비밀번호를 입력하세요.')
              span.input-group-btn
                button.btn.btn-primary(type='submit')
                  i.fa.fa-arrow-right
// END WRAPPER
