doctype html
head
  title Login | Klorofil - Free Bootstrap Dashboard Template
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  // VENDOR CSS
  link(rel='stylesheet', href='assets/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/vendor/linearicons/style.css')
  // MAIN CSS
  link(rel='stylesheet', href='assets/css/main.css')
  // GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel='stylesheet')
  // ICONS
  link(rel='apple-touch-icon', sizes='76x76', href='assets/img/apple-icon.png')
  link(rel='icon', type='image/png', sizes='96x96', href='assets/img/favicon.png')
// WRAPPER
#wrapper
  .vertical-align-wrap
    .vertical-align-middle
      .auth-box
        .left
          .content
            .header
              .logo.text-center
                img(src='assets/img/logo.png', alt='Klorofil Logo')
              p.lead Login to your account
            form.form-auth-small(action='index.php')
              .form-group
                label.control-label.sr-only(for='signin-email') Email
                input#signin-email.form-control(type='id', value='아이디(지울예정)', placeholder='ID')
              .form-group
                label.control-label.sr-only(for='signin-password') Password
                input#signin-password.form-control(type='password', value='thisisthepassword', placeholder='Password')
              .form-group.clearfix
                label.fancy-checkbox.element-left
                  input(type='checkbox')
                  span Remember me
              button.btn.btn-primary.btn-lg.btn-block(type='submit') LOGIN
              .bottom
                span.helper-text
                  i.fa.fa-lock
                  a(href='join.html') &#xD68C;&#xC6D0; &#xAC00;&#xC785;
                p
                span.helper-text
                  i.fa.fa-lock
                  a(href='login-findpw.html') Forgot password?
                span.helper-text
                  i.fa.fa-lock
                  a(href='#') Forgot ID?
        .right
          .overlay
          .content.text
            h1.heading &#xC18C;&#xB9AC;&#xB97C; &#xB2F4;&#xB2E4;
            p by The Develovers
// END WRAPPER
