doctype html
head
  title Profile | Klorofil - Free Bootstrap Dashboard Template
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  // VENDOR CSS
  link(rel='stylesheet', href='assets/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/vendor/linearicons/style.css')
  // MAIN CSS
  link(rel='stylesheet', href='assets/css/main.css')
  // FOR DEMO PURPOSES ONLY. You should remove this in your project
  link(rel='stylesheet', href='assets/css/demo.css')
  // GOOGLE FONTS
  link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel='stylesheet')
  // ICONS
  link(rel='apple-touch-icon', sizes='76x76', href='assets/img/apple-icon.png')
  link(rel='icon', type='image/png', sizes='96x96', href='assets/img/favicon.png')
// WRAPPER
#wrapper
  // NAVBAR
  nav.navbar.navbar-default.navbar-fixed-top
    .brand
      a(href='/')
        img.img-responsive.logo(src='assets/img/logo-dark.png', alt='Klorofil Logo')
    include gnb
  // END NAVBAR
  // LEFT SIDEBAR
  include lnb
  // END LEFT SIDEBAR
  // MAIN
  .main
    // MAIN CONTENT
    .main-content
      .container-fluid
        .panel.panel-profile
          .clearfix
            // LEFT COLUMN
            .profile-left
              // PROFILE HEADER
              .profile-header
                .overlay
                .profile-main
                  img.img-circle(src='assets/img/user-medium.png', alt='Avatar')
                  h3.name Samuel Gold
                  span.online-status.status-available Available
                .profile-stat
                  .row
                    .col-md-6.stat-item
                      span &#xB0B4; &#xC815;&#xBCF4;
                    .col-md-6.stat-item(onclick="location.href='/page-lockscreen'")
                      span &#xD68C;&#xC6D0; &#xD0C8;&#xD1F4;
              // END PROFILE HEADER

              // PROFILE DETAIL
              .profile-detail
                .panel
                  .profile-info
                    h4.heading My Profile
                    ul.list-unstyled.list-justify
                      li
                        | Name 
                        span &#xAE40;&#xC138;&#xC885;
                      li
                        | Email 
                        span samuel@mydomain.com
                  .text-center
                    a.btn.btn-primary(href='#') Edit Profile
                  br
                  br
                  br
              // END PROFILE DETAIL

            // END LEFT COLUMN
          
    // END MAIN CONTENT
  // END MAIN
  .clearfix
  footer
    .container-fluid
      p.copyright
        | Shared by
        i.fa.fa-love
        a(href='https://bootstrapthemes.co') BootstrapThemes
// END WRAPPER
// Javascript
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
script(src='assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js')
script(src='assets/scripts/klorofil-common.js')
